.header {
    position: sticky;
    top: 0;
    z-index: 1000;

    height: 80px;

    background: var(--white);
    border-bottom: 1px solid #e4e4e4;
}

.header__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 120px;
    height: 60px;
    overflow: visible;
    margin: 0;
    flex-shrink: 0;
}

.logo dotlottie-wc {
    display: block;
    width: 120px;
    height: 60px;

    position: relative;
    left: -110px;

    transform: scale(3);
    transform-origin: left center;
}

.logo__text {
    position: relative;
    z-index: 1;
    font-weight: 400
}

.header__cta {
    min-height: 40px;
    font-size: 14px;
}